/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-create-block-exchange-rate-block {
	background-color: #28303d;
	padding: 1.875rem;
	color: #fff;
}
